# Compilação
out/
target/
*.class

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/
.factorypath

# Sistema operacional
.DS_Store
Thumbs.db

# Trabalho de arte/design
ideias/
out_tools/
